<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataArray</key>
	<array>
		<dict>
			<key>detailArray</key>
			<array>
				<string>简体中文,zh-CHS</string>
				<string>英文,en</string>
				<string>日语,ja</string>
			</array>
			<key>sectionName</key>
			<string>常用语言</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>阿拉伯语,ar</string>
				<string>爱沙尼亚语,et</string>
			</array>
			<key>sectionName</key>
			<string>A</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>保加利亚语,bg</string>
			</array>
			<key>sectionName</key>
			<string>B</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>朝鲜语,ko</string>
			</array>
			<key>sectionName</key>
			<string>C</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>德语,de</string>
				<string>丹麦语,da</string>
			</array>
			<key>sectionName</key>
			<string>D</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>俄语,ru</string>
			</array>
			<key>sectionName</key>
			<string>E</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>繁体中文,zh-CHT</string>
				<string>芬兰语,fi</string>
				<string>法语,fr</string>
			</array>
			<key>sectionName</key>
			<string>F</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>荷兰语,nl</string>
			</array>
			<key>sectionName</key>
			<string>H</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>简体中文,zh-CHS</string>
				<string>捷克语,cs</string>
			</array>
			<key>sectionName</key>
			<string>J</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>罗马尼亚语,ro</string>
			</array>
			<key>sectionName</key>
			<string>L</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>葡萄牙语,pt</string>
			</array>
			<key>sectionName</key>
			<string>P</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>日语,ja</string>
				<string>瑞典语,sv</string>
			</array>
			<key>sectionName</key>
			<string>R</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>斯洛文尼亚语,sl</string>
			</array>
			<key>sectionName</key>
			<string>S</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>泰语,th</string>
			</array>
			<key>sectionName</key>
			<string>T</string>
		</dict>
		<dict>
			<key>detailArray</key>
			<array>
				<string>西班牙语,es</string>
				<string>希腊语,el</string>
				<string>匈牙利语,hu</string>
			</array>
			<key>sectionName</key>
			<string>X</string>
		</dict>
		<dict>
			<key>sectionName</key>
			<string>Y</string>
			<key>detailArray</key>
			<array>
				<string>英文,en</string>
				<string>越南语,vi</string>
				<string>意大利语,it</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
